{% extends 'home/homepage.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<!-- Grids system -->
<!-- grid1 holds the texts -->
<script type="text/javascript">
    document.body.style.backgroundImage = "url({% static 'images/8-logo.svg' %})";
</script>

<style>
    body {
        font-family : Vollkorn SC ;
        background-repeat: repeat ;
        background-attachment: dynamic ;
        background-size : 50vw 90vh ;
	}
    .About{
        margin : 1vh 0vw 1vh 0vw ;
        font-family : Vollkorn SC ;
        background: rgba(215,235,255);
    }
    .About p {
        font-family : Cinzel ;
    }
    .Story {
        margin : 1vh 0vw 1vh 0vw ;
        padding : 5vh 10vw 5vh 10vw ;
        font-family : Vollkorn SC ;
        background: rgba(230,253,200);
    }
    .About .left {
        min-width : 500px ;
        width: 50%;
        overflow: hidden;
        object-fit: contain;
        padding : 0vh 100px 0vh 100px ;
    }
    .About .right {
        width: 50%;
        min-width : 500px ;
    }
    .story-image {
        overflow : hidden ;
    }
    .story-image img{
        -webkit-transition: all linear 1.2s;
    }
    .story-image:hover > img{
       transform : translateY(-100%) ;
    }
    .story-image:hover > .story-title{
       transform : translateY(-100%) ;
       background : rgba(250,240,231,0.9);
    }
    .Story .story-title {
        background : rgba(250,240,231,0.1);
        width: 100%;
        height: 100%;
        border: 1px solid black ;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size : 1.2rem ;

        -webkit-transition: all linear 1s;
    }
    .Comment-box {
        margin : 1vh 0vw 1vh 0vw ;
        font-family : Vollkorn SC ;
        background: silver ;
    }
    .Comment-box {
        padding : 0.1vh 1vw 0.1vh 1vw ;
    }
    .Comment-box .scrollable {
        border : 1px solid white ;
        margin : 0.1vh 0vw 0.1vh 0vw ;
        padding : 1vh 0.2vw 1vh 0.2vw ;
        min-width : 400px ;
        width :  50% ;
        overflow : hidden ;
        background : black ;
        color : white ;
    }
    .Comment-box .scrollable:hover {
        overflow : auto ;
    }
    .personal-blog {
        font-size : 1.3rem;
    }
    .project-update{
        font-size : 1.3rem;
    }
    .unfoldable {
        color : white ;
        background : black ;
    }
    .unfoldable:hover{
        background : white ;
        color : black;
    }
    .Public-Comment {
    }
    .Comments {
        padding : 5% 5% 5% 5% ;
        overflow : hidden ;
        background : rgba(40,56,43,0.5) ;
        border : 1px solid white ;
    }
    .Comment-Section{
        margin : 1vh 0vw 1vh 0vw ;
        padding : 5vh 1vw 5vh 1vw ;
        font-family : Vollkorn SC ;
        background: rgba(230,253,200);
    }
    .Public-Comment {
        background : rgba(40,56,43,0.5) ;
        font-family : Special Elite ;
        margin : 0 0 0 0 ;
        padding : 2% 2% 2% 2% ;
        border : 1px solid white ;
    }
</style>
  <div class="page-intro">
        <h3 style="font-size:2vw ;">You can guess the type of content just by two words.</h3>
        <h1 style="font-size:6vw ;"><b> HELLO WORLD ! </b></h1>
  </div>
<br>

 <div class = "layer-2">
    <h2>I know this site looks a little tacky</h2><br>
    <p><h3 style="font-family: Satisfy ;">I'm working on it. I wanted to learn so rather than using
     templates I coded almost every single element you see here. I got very tired and sick of working on this.<br> So
     for now this is it. It'll be improved as soon as possible .If you have any suggestions do let me know, I'll do my best to improve on that.
    </h3></p>
 </div>


    <div class="Comment-box" id="update-box">
        <br>
        <h1 style="text-align: center">Activity Log</h1>
        <h6 style="text-align: center; font-family: Orbitron;">'Cause I couldn't think of any other name :)</h6>
        <hr>
        <div class="d-flex" style="flex-wrap: wrap ;">
                <div class="scrollable personal-blog">
                    <h4 style="text-align:center;">Recent Blog Posts <a href='blog#link-personal-blog' target="_blank"  style="color: white;">&nearrow;</a></h4> <hr style="border-top: 1px solid white;">
                {% for post in personal_blog %}
                    {% if post.category == 'update' or post.category == 'one_liner' or post.category == 'graffiti' or post.category == 'political' %}
                        <div class="unfoldable">
                            {{post.post}}
                        <div style="text-align: right; margin-top: 10px;"> --Posted : {{ post.posted_at }}</div>
                        </div>
                        <hr>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="scrollable project-update">
                    <h4 style="text-align:center;">Project Updates <a href='blog#link-project-blog' target="_blank"  style="color: white;">&nearrow;</a></h4>
                    <hr style="border-top: 1px solid white;">
                {% for post in project_blog_posts %}
                    <div class="unfoldable">
                            <h5 style="font-family: Cinzel;">{{ post.blog }} :</h5>
                            {{post.post}}
                            <div style="text-align: right; margin-top: 10px;"> --Posted : {{ post.posted_at }}</div>
                    </div>
                    <hr>
                {% endfor %}
                </div>
        </div>
        <hr>
    </div>
 <div class="About">
     <div class="d-flex" style="align-items: center; justify-content: flex-end; flex-wrap: wrap;">
         <div class="left">
             <h2>About me</h2><hr>
             <p>I'm a computer science and engineering student at National Institute of Technology, Hamirpur. I haven't
                 chosen any specific field for now. I work on web development, Animation and Game development related projects. </p>
         </div>
         <div class="right">
             <img src= "{% static 'images/jumbotron/dharmashala.jpg' %}" width="100%" height="100%">
         </div>
     </div>
     <div class="d-flex" style="align-items: center; justify-content: flex-start; flex-wrap: wrap;">
         <div class="right" >
             <img src= "{% static 'images/jumbotron/apache.jpg' %}" width="100%" height="100%">
         </div>
         <div class="left">
             <h3>Something you didn't know</h3><hr>
             <p>By day : I'm an ordinary student, attending classes trying to keep myself awake. But by night , I dress up as batman and fight crime !! and sometime in between all this I spend some time learning new things .</p>
         </div>
     </div>
     <div class="d-flex" style="align-items: center; justify-content: flex-end; flex-wrap: wrap;">
         <div class="left">
             <h2>Love Adventuring</h2><hr>
             <p>I like doing stupid things which I prefer to call adventures. A lot of time I end up with minor injuries due to my habit to take unnecessary risks,
             but in my opinion injuries are worth it if you have fun.</p>
         </div>
         <div class="right">
             <img src= "{% static 'images/jumbotron/in_zoo.jpg' %}" width="100%" height="100%">
         </div>
     </div>
 </div>


<div class="Story" style="text-align: center;">
    <h1>Every picture has a story behind it</h1><hr>
    <div class="d-flex" style="justify-content: center; align-items: stretch; flex-wrap: wrap;">
    {% for experience in experiences %}
            <div class="story-image" style="display: inline-block; width: 33%; min-width: 300px; margin : 0.5% 0.5% 0.5% 0.5%; height: 250px ;">
                <img src= {{experience.img}} width="100%" height="100%">
                <div class="story-title" style="padding : 1% 10% 1% 10%;">
                    <p>{{experience.title}} <br><br><a href='about#my-stories' ><button class="btn btn-info">Read full Story...</button></a></p>
                </div>
            </div>
    {% endfor %}
    </div>
</div>

<div class="Comment-Section" style="background: white;">

    <h1 style="text-align:center;">Public Comments</h1><hr>

    <div class="d-flex" style="flex-wrap: wrap; ">

        <div class="Comments" style="width: 50%;">
            <h2 style="text-align:center;">Write a Comment</h2><hr>
            <form id="comment-form" action="{% url 'comment' %}" method="post" role="form">
                {% csrf_token %}
                {% bootstrap_form form layout="vertical" size="small" show_label=False exclude="img,ved,link,url_caption" %}
                <button class="btn btn-success" type="submit">Comment Publicly </button> or <a href="{% url 'contact' %}">Send a Direct Message</a>
            </form>
        </div>

        <div class="scrollable Public-Comment" style="width: 50%;">
             {% for comment in Comments %}
                <div class="single-comment">
                    <div class="d-flex">
                        {% if comment.sender == 'admin' %}
                            <div class="admin-single-comment">
                                <h5>[ {{ comment.posted_at }} ]&emsp;<b>ANIKET SHARMA(admin) :</b> </h5>
                                <p>{{ comment.caption }}</p>
                                {% if comment.img %}
                                    <img src={{comment.img}} border="0" width="100%">
                                {% endif %}
                                {% if comment.ved %}
                                    <iframe width="100%" height="315"
                                        src={{comment.ved}}
                                        allowfullscreen="allowfullscreen">
                                    </iframe>
                                {% endif %}
                                {% if comment.link %}
                                    <p>{{comment.url_caption}}<a href="{{comment.link}}">{{comment.link}}</a></p>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="public-single-comment">
                                <h5>[ {{ comment.posted_at }} ] &emsp; <b>{{comment.sender}} :</b> </h5>
                                <p>{{ comment.caption }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <hr>
             {% endfor %}
        </div>
    </div>
</div>


 <div class="Resume">
    See what I can do<br>
    <a href="https://docs.google.com/document/d/1HgYU3JiOW7sKxBEA86hWoA0v0QXtoSYLgvd-rE1Hdtk/edit?usp=sharing" target="_blank"> <button class="btn">Get my Resume</button></a><br>
    <div style="font-family: Tangerine; font-size: 1.2em;">{It doesn't look very professional at the moment but I'm working on it.}</div>
 </div>

{% endblock %}
