{% extends 'home/homepage.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<!-- Grids system -->
<!-- grid1 holds the texts -->
<!--<script type="text/javascript">-->
    <!--document.body.style.backgroundImage = "url(https://images.pexels.com/photos/669996/pexels-photo-669996.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500)" ;-->
<!--</script>-->
  <div class="page-intro">
        <h3 style="font-size:2vw ;">I've been waiting for you </h3>
        <h1 style="font-size:6vw ;"><b> YOU MADE IT </b></h1>
  </div>
<br>

 <div class = "layer-2">
    <h2>I know this site looks a little tacky</h2><br>
    <p><h3 style="font-family: Satisfy ;">I'm working on it. I wanted to learn so rather than using
     templates I coded almost every single element you see here. I got very tired and sick of working on this.<br> So
     for now this is it. It'll be improved as soon as possible .If you have any suggestions do let me know, I'd love to hear them.
    </h3></p>
 </div>

    <div class="Resume">
        See what I can do<br>
        <a href="#"> <button class="btn">Get my Resume</button></a><br>
        <div style="font-family: Tangerine; font-size: 1.2em;">{It doesn't look very professional at the moment but I'm working on it.}</div>
    </div>

{% endblock %}
