{% extends 'home/homepage.html' %}
{% load static %}

{% block content %}
<!-- Grids system -->
<!-- grid1 holds the texts -->
    <div class="col-4" style ="display: inline-block; float: left ; z-index: -1 ">
      <img src="{% static 'images/jumbotron/sitting.jpg' %}">
    </div>
    <div class="col-6" style ="color: black; display: inline-block; float : left; font-size: 2rem;">
      <h1> Aniket Sharma </h1><br><p> B.Tech + M.Tech in Computer Science and Engineering from National Institute of Technology, Hamirpur<p>
    </div>
{% endblock %}
